/*home*/
#home {
    background: url('intro-section-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 110vh;
    margin-top: -120px;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1px 3px #3c40434d, 0 4px 8px 3px #3c404326;
}

.tagline {
    font-size: 26px;
    margin-top: 20px;
    text-align: center;
}

.brand {
    color: #5BE9B9;
}

p {
    margin-bottom: 20px;
}

/*contact section*/
#contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    padding: 120px;
    padding-top: 20%;
}

#contact-info .intro-text {
    font-style: italic;
}

#contact-info h2 {
    font-size: 50px;
    font-weight: bold;
}

.description {
    margin: 50px 0 50px;
}

/*animation*/
#logo-home {
    position: relative;
    display: inline-block;
}

#lottie-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#logo-home:hover img {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/*Map*/
#chartdiv {
    position: relative;
    width: 50%;
    min-width: 500px;
    height: 500px;
    background-color: #222222;
    border-radius: 1.5rem;
}

.map-container {
    position: relative;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#reset-map-btn {
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #222222;
}

/*FAQ*/
.FAQ {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
}

.FAQ-header {
    padding-top: 30%;
}

.FAQ-header h2 {
    font-size: 50px;
    font-weight: bold;
}

.description-faq {
    margin: 20px 0 20px;
}

/*form*/
.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    padding-top: 20%;
}

.get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;

}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {

    transform: translateY(-24px);
}

.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    cursor: text;
    transition: .2s ease-in-out;
}

.contact-form .input-text.not-empty + .label {
    transform: translateY(-24px);
}

.submit-button {
    width: 162px;
    height: 51px;
    border: 2px solid black;
    margin: auto;
    margin-top: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: 0 0;
    color: black;
    font-family: montserrat-semibold;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.submit-button i {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.submit-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #5BE9B9;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.submit-button:hover {
    border-color: transparent
}

.submit-button:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.submit-button:hover i {
    -webkit-transform: translateX(4px);
    transform: translateX(4px)
}
